
.Table {
	width: 1110px;
	background: #ffffff;

	.TableHeader {
		@include import.styleBold(20px, #25282b);
		padding: 24px 24px 18px;
	}
}

.TableContent {
	border-collapse: collapse;
	border: none;
	width: 100%;

	&__header {
		@include import.styleBold(14px, #25282b);
		background-color: rgba(248, 248, 248, 0.8);
		border-bottom: 1px solid #e8e8e8;

		th {
			padding: 18px 24px;
			text-align: left;
		}

		&--icon#{&}--icon {
			padding: 18px 8px;

			&:last-child {
				padding-right: 24px;
			}
		}
	}

	&__row {
		@include import.styleNormal(14px, #52575c);
		border-bottom: 1px solid #e8e8e8;
		&--avatar {
			width: 30px;
			margin-right: 12px;
			img {
				border-radius: 50%;
				overflow: hidden;
			}
		}
		td {
			padding: 18px 24px;
			text-align: left;
		}

		&--icon#{&}--icon {
			padding: 18px 8px;

			&:last-child {
				padding-right: 24px;
			}
		}
	}
}
.TableContent__row--container {
	display: flex;
	align-items: center;
}